.navbar{
    margin-bottom: 50px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    
}